Implementation/RN_Enhance/RawNotification/Demo_UWP/Service References/QLKHDataService/QLKHDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QLKHDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QLKHDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKhachHangInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhachHangInfo" nillable="true" type="tns:KhachHangInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhachHangInfo" nillable="true" type="tns:ArrayOfKhachHangInfo" />
  <xs:complexType name="KhachHangInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHangInfo" nillable="true" type="tns:KhachHangInfo" />
</xs:schema>