Implementation/RN_Enhance/RawNotification/Demo_UWP/Service References/QLKHDataService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RawNotification.Models" />
  <xs:element name="GetAllKhachHangs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKhachHangsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RawNotification.Models" minOccurs="0" name="GetAllKhachHangsResult" nillable="true" type="q1:BaseServiceResultOfArrayOfKhachHangInfoAW6F_STXv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>