Implementation/RN_Enhance/RawNotification/RawNotification.DotNetCoreDataProvider/Service References/RNClientService/RawNotification.Models.DBModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RawNotification.Models.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RawNotification.Models.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Device">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OSId" type="xs:int" />
          <xs:element minOccurs="0" name="ReceiverNewID" type="xs:long" />
          <xs:element minOccurs="0" name="TokenExpiredTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
</xs:schema>