Implementation/RN_Enhance/RawNotification/RawNotification.DotNetCoreDataProvider/Service References/RNClientService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RNClientCommunicator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRNClientCommunicator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RawNotification.SharedModels.DBModels" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RawNotification.SharedServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRNClientCommunicator_AddDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDevice" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_AddDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_GetNotificationContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationContent" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_GetNotificationContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationContentResponse" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_CheckIfNotificationRead_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfNotificationRead" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_CheckIfNotificationRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfNotificationReadResponse" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_RemoveDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevice" />
  </wsdl:message>
  <wsdl:message name="IRNClientCommunicator_RemoveDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IRNClientCommunicator">
    <wsdl:operation name="AddDevice">
      <wsdl:input wsam:Action="http://tempuri.org/IRNClientCommunicator/AddDevice" message="tns:IRNClientCommunicator_AddDevice_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRNClientCommunicator/AddDeviceResponse" message="tns:IRNClientCommunicator_AddDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotificationContent">
      <wsdl:input wsam:Action="http://tempuri.org/IRNClientCommunicator/GetNotificationContent" message="tns:IRNClientCommunicator_GetNotificationContent_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRNClientCommunicator/GetNotificationContentResponse" message="tns:IRNClientCommunicator_GetNotificationContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfNotificationRead">
      <wsdl:input wsam:Action="http://tempuri.org/IRNClientCommunicator/CheckIfNotificationRead" message="tns:IRNClientCommunicator_CheckIfNotificationRead_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRNClientCommunicator/CheckIfNotificationReadResponse" message="tns:IRNClientCommunicator_CheckIfNotificationRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <wsdl:input wsam:Action="http://tempuri.org/IRNClientCommunicator/RemoveDevice" message="tns:IRNClientCommunicator_RemoveDevice_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRNClientCommunicator/RemoveDeviceResponse" message="tns:IRNClientCommunicator_RemoveDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRNClientCommunicator" type="tns:IRNClientCommunicator">
    <wsp:PolicyReference URI="#NetTcpBinding_IRNClientCommunicator_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddDevice">
      <soap12:operation soapAction="http://tempuri.org/IRNClientCommunicator/AddDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationContent">
      <soap12:operation soapAction="http://tempuri.org/IRNClientCommunicator/GetNotificationContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfNotificationRead">
      <soap12:operation soapAction="http://tempuri.org/IRNClientCommunicator/CheckIfNotificationRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <soap12:operation soapAction="http://tempuri.org/IRNClientCommunicator/RemoveDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RNClientCommunicator">
    <wsdl:port name="NetTcpBinding_IRNClientCommunicator" binding="tns:NetTcpBinding_IRNClientCommunicator">
      <soap12:address location="net.tcp://lekhasy.ddns.net:2695/RNClientService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://lekhasy.ddns.net:2695/RNClientService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>